.button-wish {
  color: rgb(0, 0, 0);
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 20%;
  cursor: pointer;
}

.wish-description {
  background-color: var(--primary-color);
  color: black;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .button-wish {
    height: 15vh;
    width: 25vw;
  }
  .wish-description {
    font-size: 2em;
    font-family: "Barlow Condensed", sans-serif;
  }
}
