@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,900;1,400;1,900&display=swap");
.banner-container {
  display: flex;
  flex-direction: column;
}

/* .backdrop-img {
} */
.item-overview {
  color: white;
  width: 70%;
  font-size: 5vw;
  text-align: justify;
  padding-top: 10%;
}

.item-title {
  color: white;
  left: 30%;
  font-size: 6vw;
  align-items: center;
  text-align: center;
  display: flex;
}
/* .item-description-container {
} */
.image-title-container {
  display: flex;
  position: relative;
  background-color: rgba(240, 248, 255, 0.942);
}

.synopsis-title {
  color: var(--primary-color);
  font-size: 10vw;
  text-transform: uppercase;
}
.synopsis-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poster-img-container {
  width: 30%;
  border: 1px solid white;
}

.poster-img {
  width: 100%;
}

.backdrop-img {
  display: flex;
  position: absolute;
}
