.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.contact-btn {
  all: initial;
  color: var(--primary-color);
  text-transform: uppercase;
  font-style: italic;
  font-family: "Barlow Condensed", sans-serif;
  cursor: pointer;
  display: flex;
  margin: 3%;
  font-weight: 700;
  font-size: 4vh;
}

.footer_copyright {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Barlow Condensed", sans-serif;
  padding: 0 5px;
}
