* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --background-color: black;
  --primary-color: #fcd24f;
  --second-color: white;
}
